@page
@model LetsDance.Pages.Branches.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Add New Location</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Branch.Email" class="control-label"></label>
                <input asp-for="Branch.Email" class="form-control" />
                <span asp-validation-for="Branch.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Branch.Phone" class="control-label"></label>
                <input asp-for="Branch.Phone" class="form-control" />
                <span asp-validation-for="Branch.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Branch.AddressLine1" class="control-label"></label>
                <textarea asp-for="Branch.AddressLine1" class="form-control"></textarea>
                <span asp-validation-for="Branch.AddressLine1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Branch.AddressLine2" class="control-label"></label>
                <textarea asp-for="Branch.AddressLine2" class="form-control"></textarea>
                <span asp-validation-for="Branch.AddressLine2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Branch.City" class="control-label"></label>
                <input asp-for="Branch.City" class="form-control" />
                <span asp-validation-for="Branch.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Branch.State" class="control-label"></label>
                <input asp-for="Branch.State" class="form-control" />
                <span asp-validation-for="Branch.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Branch.Zip" class="control-label"></label>
                <input asp-for="Branch.Zip" class="form-control" />
                <span asp-validation-for="Branch.Zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
