@page
@model LetsDance.Pages.AboutUsModel
@{
    ViewData["Title"] = "About Us";
}


<html lang="en">

<body>

    <main class="backgroundAbout">



        <section class="py-5 text-center container">

            <div class="row py-lg-5">

                <div class="mx-auto">
                    @* col-lg-6 col-md-8 mx-auto*@

                    <h1 class="fw-light text-white font-italic">Our Mission</h1>

                    <p class="lead text-white">Our aim is to instill in each student technique, self-confidence, technical and performance skills through the art of dance. We're proud to have created such a safe, caring, family-friendly environment for every child to learn in. Over the past 40 years, we've been challenging and inspiring students to achieve their full potential in a positive and nurturing environment, discovering joy in dance and creating lasting friendships along the way.</p>

                </div>

            </div>

        </section>

        <div class="card-deck">

            <div class="card" >

                <img src="~/images/Tom.jpg" class="rounded" alt="..." width="200" height="220">

                <div class="card-body">

                    <h5 class="card-title">Tom Thomas Paul</h5>

                    <p class="card-text">Accomplished Dancer having featured in Beyonce's "Single Ladies", Justin Timberlake, Cedar Lake Contemporary Ballet.</p>

                </div>

                <div class="card-footer">

                    <small class="text-muted">LetsDanceInc</small>

                </div>

            </div>

            <div class="card">

                <img src="~/images/Shivani.jpeg" class="rounded" alt="..." width="200" height="220">

                <div class="card-body">

                    <h5 class="card-title">Shivani Mishra</h5>

                    <p class="card-text">Resident Choreographer Exhale Dance Tribe, Competition Judge Nexstar & Showcase America, Over the Rhine.</p>

                </div>

                <div class="card-footer">

                    <small class="text-muted">LetsDanceInc</small>

                </div>

            </div>

            <div class="card">

                <img src="~/images/Anirudh.jpg" class="rounded" alt="..." width="200" height="220">

                <div class="card-body">

                    <h5 class="card-title">Anirudh C Nair</h5>

                    <p class="card-text">

                        Hip Hop Director, Lexington Dance Factory & United Talent in Georgetown.

                        Founder/Director of The Fam, a youth hip hop dance crew..

                    </p>

                </div>

                <div class="card-footer">

                    <small class="text-muted">LetsDanceInc</small>

                </div>

            </div>

            <div class="card">

                <img src="~/images/Shreeya.jpg" class="rounded" alt="..." width="200" height="220">

                <div class="card-body">

                    <h5 class="card-title">Shreeya Idagunji</h5>

                    <p class="card-text">Trained under tap legend Alma Jean Robertson, faculty at Robertsons Westside/Cincinnati. Coached many dance teams and squads in the tri state area.</p>

                </div>

                <div class="card-footer">

                    <small class="text-muted">LetsDanceInc</small>

                </div>

            </div>

        </div>

    </main>

</body>

</html>