@page
@model LetsDance.Pages.Shared.AdministrationModel
@{
}
<ul>
    <li><a href="/branches/index">Centers</a></li>
    <li><a href="/buddingdancers/index">Budding Dancers</a></li>
    <li><a href="/classschedules/index">Class Schedules</a></li>
    <li><a href="/faculties/index">Faculties</a></li>
    <li><a href="/genres/index">Genres</a></li>
</ul>
