@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center jumbotron  background">
    <h1 class="display-4 font-italic text-body text-capitalize font-weight-normal welcome">Welcome to 12 Tones</h1>


    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@


    <div class="card-deck pt-5">
        <div class="card">
            <img class="card-img-top" src="https://images.pexels.com/photos/2118046/pexels-photo-2118046.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Guitar</h5>
                <p class="card-text"><i>Take your guitar teaching journey to the next level as you learn, jam, create and improvise music with us. Special Guest appearances by John Petrucci, Steve Vai, Mateus Asato and many more !!</i></p>
            </div>
            <div class="card-footer">
                <small class="text-muted">12 Tones Inc</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="https://images.pexels.com/photos/2592179/pexels-photo-2592179.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Piano</h5>
                <p class="card-text"><i>Teach with the Masters!!! Jordan Rudes, AR Rahman, Lynard Skynard and more from Berkeley School of Music !!</i></p>
            </div>
            <div class="card-footer">
                <small class="text-muted">12 Tones Inc</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="https://images.pexels.com/photos/2614942/pexels-photo-2614942.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Drums</h5>
                <p class="card-text"><i>Wanna be a Percussionist Instructor jam with Animals as leaders?? Here is your chance to learn and experience live sessions with world class musicians around the world !!</i></p>
            </div>
            <div class="card-footer">
                <small class="text-muted">12 Tones Inc</small>
            </div>
        </div>


    </div>
    <div class="bg-white pt-5 mt-4" style="opacity:0.5">
        <h5 class="display-4 text font-italic text-danger text-capitalize font-weight-normal" style="font-size : 38px">ABOUT US</h5>
        <p class="pb-5 pt-3 font-weight-bold">We Strive to bring in musicians, teachers and enthusiasts from all around the world and deploy them to music academies and performing arts institutions. We stand at #1 in finding artists jobs and help build a career !!</p>

        <div>
            <h5 class="display-4 font-italic text-danger text-capitalize font-weight-normal" style="font-size : 38px">TESTIMONIALS</h5>
            
                <p class=" font-weight-bold"><mark>"Thanks to 12 Tones, I am sound engineer at Enhance arts academy. This organization is truly worth the shot" - Michael Long</mark></p>
                <p class="pb-5 font-weight-bold"><mark>"This organization has changed my life !! I am living my passion and a big Thank You to all of the wonderful staff" - Sarah Tedd</mark></p>
           
        </div>

    </div>

</div>
